:root {
  --bg-gray: #f3f3f3;
  --bg-dark: #111111;
  --bg-white: #ffffff;

  --gold: #c8a951;
  --gold-soft: #e6d38b;
  --primary-color: var(--gold);
  --primary-color-dark: #a1863d;
  --border-color: var(--border-soft);

  --text-dark: #1c1c1c;
  --text-light: #ffffff;

  --border-soft: #e0e0e0;
}
